*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Belanosima', sans-serif;
    font-family: 'Kanit', sans-serif; 
}
.container{
    padding: 0% 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(39, 39, 68, 0.901);
    color: white;
    padding: 2% 10%;
    box-shadow: 8px 3px 13px rgb(76, 60, 101);

}
.logo{
    font-size: 30px;
}
.nav_link ul{
list-style: none;
display: flex;
column-gap: 50px;
}
.nav_link ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.nav_link ul li a:hover{
    color: brown;
}
/* banner section start */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 80vh;
}
.heading h1{
    font-size: 60px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}
.heading h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.heading button{
    padding: 8px 25px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid blue;
    background: transparent;
    color: darkgreen;
    font-weight: 400;
}
.heading button:hover{
    background-color: rgb(64, 44, 79);
    color: white;
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}